<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let objects of satellites">
       <th>
        {{objects.name}}
       </th>
       <th *ngIf = "!objects.shouldShowWarning(); else changeColor">
        {{objects.type}}
       </th>
       <ng-template #changeColor>
          <th class = "warning">
             {{objects.type}}
          </th>

       </ng-template>
       <th>
        {{objects.operational}}
       </th>
       <th >
        {{objects.orbitType}}
       </th>
       <th>
        {{objects.launchDate}}
       </th>
   </tr>
</table>